            <tr data-player="<%= line.line_name %>" class="<%= line.is_total || line.is_opponent_total || line.is_difference_total ? "total" : "" %> <%= line.is_subtotal ? "subtotal" : "" %>">
              <td data-stat="line_name"><%= line.line_name_or_nickname %></td>
              <td data-stat="games" class="games-started"><%= (line.is_total or line.is_subtotal or line.is_difference_total) ? "--" : "#{line.games_started}/#{line.games}" %></td>
              <td data-stat="games" class="games"><%= line.games %></td>
              <td data-stat="minutes" class="minutes"><%= (line.is_total or line.is_difference_total) ? "--" : line.minutes %></td>
              <% unless line.is_difference_total %>
                <td data-stat="true_shooting_percentage" class="adv-percentage"><%= format_percentage(line.true_shooting_percentage) %></td>
                <td data-stat="effective_field_goal_percentage" class="adv-percentage"><%= format_percentage(line.effective_field_goal_percentage) %></td>
                <td data-stat="usage" class="usage"><%= (line.is_total or line.is_subtotal) ? "--" : format_estimate_percentage(line.usage) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>offensive_rebound_percentage" class="rebounds"><%= format_estimate_percentage(line.is_total ? line.team_offensive_rebound_percentage : line.offensive_rebound_percentage) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>defensive_rebound_percentage" class="rebounds"><%= format_estimate_percentage(line.is_total ? line.team_defensive_rebound_percentage : line.defensive_rebound_percentage) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>total_rebound_percentage" class="rebounds"><%= format_estimate_percentage(line.is_total ? line.team_total_rebound_percentage : line.total_rebound_percentage) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>assist_percentage"><%=  (line.is_subtotal) ? "--" : (format_estimate_percentage(line.is_total ? line.team_assist_percentage : line.assist_percentage)) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>steal_percentage"><%= format_estimate_percentage(line.is_total ? line.team_steal_percentage : line.steal_percentage) %></td>
                <td data-stat="<%= line.is_total ? "team_" : ""%>block_percentage"><%= format_estimate_percentage(line.is_total ? line.team_block_percentage : line.block_percentage) %></td>
                <td data-stat="turnover_percentage"><%= line.turnover_percentage %></td>
                <td data-stat="offensive_rating" class="rating"><%=  (line.is_total) ? line.offensive_rating : "--" %></td>
                <td data-stat="defensive_rating" class="rating"><%=  (line.is_total) ? line.defensive_rating : "--" %></td>
                <td data-stat="pace" class="pace"><%=  (line.is_total) ? line.pace : "--" %></td>
              <% else %>
                <td data-stat="true_shooting_percentage" class="adv-percentage"><%= highlight_difference(line.true_shooting_percentage, :percentage) %></td>
                <td data-stat="effective_field_goal_percentage" class="adv-percentage"><%= highlight_difference(line.effective_field_goal_percentage, :percentage) %></td>
                <td data-stat="usage" class="usage"><%= (line.is_total or line.is_subtotal or line.is_difference_total) ? "--" : format_estimate_percentage(line.usage) %></td>
                <td data-stat="team_offensive_rebound_percentage" class="rebounds"><%= highlight_difference(line.team_offensive_rebound_percentage, :estimate_percentage) %></td>
                <td data-stat="team_defensive_rebound_percentage" class="rebounds"><%= highlight_difference(line.team_defensive_rebound_percentage, :estimate_percentage) %></td>
                <td data-stat="team_total_rebound_percentage" class="rebounds"><%= highlight_difference(line.team_total_rebound_percentage, :estimate_percentage) %></td>
                <td data-stat="team_assist_percentage"><%= highlight_difference(line.team_assist_percentage, :estimate_percentage) %></td>
                <td data-stat="team_steal_percentage"><%= highlight_difference(line.team_steal_percentage, :estimate_percentage)%></td>
                <td data-stat="team_block_percentage"><%= highlight_difference(line.team_block_percentage, :estimate_percentage) %></td>
                <td data-stat="turnover_percentage"><%= highlight_difference(line.turnover_percentage, :estimate_percentage) %></td>
                <td data-stat="offensive_rating" class="rating"><%=  (line.is_total) ? line.offensive_rating : "--" %></td>
                <td data-stat="defensive_rating" class="rating"><%=  (line.is_total) ? line.defensive_rating : "--" %></td>
                <td data-stat="pace" class="pace"><%=  (line.is_total) ? line.pace : "--" %></td>
              <% end %>
            </tr>
