
            <tr data-player="<%= line.line_name %>" data-team="<%= line.team %>" class="<%= line.is_total || line.is_opponent_total || line.is_difference_total ? "total" : "" %> <%= line.is_subtotal ? "subtotal" : "" %>">
              <td data-stat="line_name"><%= line.line_name_or_nickname %></td>
              <td data-stat="games" class="games-started"><%= line.games_started %>/<%= line.games %></td>
              <td data-stat="games" class="games"><%= line.games %></td>
              <td data-stat="minutes" class="last-stat-column minutes"><%= line.minutes_g %></td>
              <% unless line.is_difference_total %>
                <td data-stat="made_field_goals" class="field-goals"><%= line.made_field_goals_g %></td>
                <td data-stat="attempted_field_goals" class="field-goals last-stat-column"><%= line.attempted_field_goals_g %></td>
                <td data-stat="field_goal_percentage" class="field-goal-percentage last-stat-column percentage"><%= format_percentage(line.field_goal_percentage) %></td>
                <td data-stat="made_threes" class="threes"><%= line.made_threes_g %></td>
                <td data-stat="attempted_threes" class="threes last-stat-column"><%= line.attempted_threes_g %></td>
                <td data-stat="threes_percentage" class="threes-percentage last-stat-column percentage"><%= format_percentage(line.threes_percentage) %></td>
                <td data-stat="made_free_throws" class="free-throws"><%= line.made_free_throws_g %></td>
                <td data-stat="attempted_free_throws" class="free-throws last-stat-column"><%= line.attempted_free_throws_g %></td>
                <td data-stat="free_throw_percentage" class="free-throws-percentage last-stat-column percentage"><%= format_percentage(line.free_throw_percentage) %></td>
                <td data-stat="offensive_rebounds" class="rebounds"><%= line.offensive_rebounds_g %></td>
                <td data-stat="defensive_rebounds" class="rebounds"><%= line.defensive_rebounds_g %></td>
                <td data-stat="total_rebounds" class="rebounds last-stat-column"><%= line.total_rebounds_g %></td>
                <td data-stat="assists"><%= line.assists_g %></td>
                <td data-stat="steals" class="steals"><%= line.steals_g %></td>
                <td data-stat="blocks" class="blocks"><%= line.blocks_g %></td>
                <td data-stat="turnovers"><%= line.turnovers_g %></td>
                <td data-stat="game_score" class="game-score"><%= line.game_score_g %></td>
                <td data-stat="personal_fouls" class="fouls"><%= line.personal_fouls_g %></td>
                <td data-stat="plus_minus"><%= line.plus_minus_g %></td>
                <td data-stat="points"><%= line.points_g %></td>
              <% else %>
                <td data-stat="made_field_goals" class="field-goals"><%= highlight_difference(line.made_field_goals_g) %></td>
                <td data-stat="attempted_field_goals" class="field-goals last-stat-column"><%= highlight_difference(line.attempted_field_goals_g) %></td>
                <td data-stat="field_goal_percentage" class="field-goal-percentage last-stat-column percentage"><%= highlight_difference(line.field_goal_percentage, :percentage) %></td>
                <td data-stat="made_threes" class="threes"><%= highlight_difference(line.made_threes_g) %></td>
                <td data-stat="attempted_threes" class="threes last-stat-column"><%= highlight_difference(line.attempted_threes_g) %></td>
                <td data-stat="threes_percentage" class="threes-percentage last-stat-column percentage"><%= highlight_difference(line.threes_percentage, :percentage) %></td>
                <td data-stat="made_free_throws" class="free-throws"><%= highlight_difference(line.made_free_throws_g) %></td>
                <td data-stat="attempted_free_throws" class="free-throws last-stat-column"><%= highlight_difference(line.attempted_free_throws_g) %></td>
                <td data-stat="free_throw_percentage" class="free-throws-percentage last-stat-column percentage"><%= highlight_difference(line.free_throw_percentage, :percentage) %></td>
                <td data-stat="offensive_rebounds" class="rebounds"><%= highlight_difference(line.offensive_rebounds_g) %></td>
                <td data-stat="defensive_rebounds" class="rebounds"><%= highlight_difference(line.defensive_rebounds_g) %></td>
                <td data-stat="total_rebounds" class="rebounds last-stat-column"><%= highlight_difference(line.total_rebounds_g) %></td>
                <td data-stat="assists"><%= highlight_difference(line.assists_g) %></td>
                <td data-stat="steals" class="steals"><%= highlight_difference(line.steals_g) %></td>
                <td data-stat="blocks" class="blocks"><%= highlight_difference(line.blocks_g) %></td>
                <td data-stat="turnovers"><%= highlight_difference(line.turnovers_g) %></td>
                <td data-stat="game_score" class="game-score"><%= highlight_difference(line.game_score_g) %></td>
                <td data-stat="personal_fouls" class="fouls"><%= highlight_difference(line.personal_fouls_g) %></td>
                <td data-stat="plus_minus" class="plus_minus">--</td>
                <td data-stat="points"><%= highlight_difference(line.points_g) %></td>
              <% end %>
            </tr>
