      <table class="totals selected" data-type="totals">
        <thead><tr><%= Nba::Html::StatTable.render_headers(:totals) %></tr></thead>
        <tbody>
          <%= render :partial => 'aggregate_info/stats/lines_order', :locals => {:lines => lines, :partial_name => "totals_line"} %>
        </tbody>
      </table>

      <table class="per-game" data-type="per-game">
        <thead><tr><%= Nba::Html::StatTable.render_headers(:per_game) %></tr></thead>
        <tbody>
          <%= render :partial => 'aggregate_info/stats/lines_order', :locals => {:lines => lines, :partial_name => "per_game_line"} %>
        </tbody>
      </table>

      <table class="per-36" data-type="per-36">
        <thead><tr><%= Nba::Html::StatTable.render_headers(:per_36) %></tr></thead>
        <tbody>
          <%= render :partial => 'aggregate_info/stats/lines_order', :locals => {:lines => lines, :partial_name => "per_36_line"} %>
        </tbody>
      </table>

      <table class="advanced" data-type="advanced">
        <thead><tr><%= Nba::Html::StatTable.render_headers(:adv) %></tr></thead>
        <tbody>
          <%= render :partial => 'aggregate_info/stats/lines_order', :locals => {:lines => lines, :partial_name => "advanced_line"} %>
        </tbody>
      </table>
