
<thead>
  <tr>
    <th>Team</th>
    <th>W</th>
    <th>L</th>
    <th>Pct</th>
    <th>Gb</th>
    <% if expanded %>
      <th>Pace</th>
      <th>ORtg</th>
      <th>DRtg</th>
      <th>RDif</th>
    <% end %>
  </tr>
</thead>
        <tbody class="<%= "#{organization} #{standings_type}#{ selected ? " selected" : ""}"%>">
          <% @standings.categorize(organization).each do |standing| %>
            <tr class="<%= "selected-team" if standing.team_name =~ /#{@team}/ %>">
              <td><%= standing.abbr %></td>
              <td><%= standing.wins %></td>
              <td><%= standing.losses %></td>
              <td><%= number_with_precision(standing.win_pct, :precision => 3 ) %></td>
              <td><%= standing.games_back(organization) %></td>
              <% if expanded %>
                <td><%= standing.pace %></td>
                <td><%= standing.offensive_rating %></td>
                <td><%= standing.defensive_rating %></td>
                <td><%= standing.rating_difference %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
