    <section class="boxscore <%= class_label %>">
      <table>
        <thead><tr><th colspan="2"><%= render :partial => 'boxscore_title', :locals => { :boxscore_line => boxscore_lines.first } %></th><th colspan="2" class="field-goals">fg</th><th colspan="2" class="threes">3s</th><th colspan="2" class="free-throws">ft</th><th colspan="3" class="rebounds">boards</th><th colspan="7"></th></tr></thead>
        <thead class=""><tr><th> player </th><th> min </th><th class="field-goals"> m </th><th class="field-goals"> a </th><th class="threes"> m </th><th class="threes"> a </th><th class="free-throws"> m </th><th class="free-throws"> a </th><th class="rebounds"> o </th><th class="rebounds"> d </th><th class="rebounds"> t </th><th> ast </th><th> stl </th><th> blk </th><th> to </th><th> pf </th><th> pm </th><th> pts </th></tr></thead>
        <tbody>
          <% boxscore_lines.each do |line| %>
            <% if line.is_total and ! line.is_opponent_total %>
              <% (14 - boxscore_lines.count).times do %>
                <tr class=""> <td>--</td> <td class="last-stat-column">--</td> <td class="field-goals">--</td> <td class="field-goals last-stat-column">--</td> <td class="threes">--</td> <td class="threes last-stat-column">--</td> <td class="free-throws">--</td> <td class="free-throws last-stat-column">--</td> <td class="rebounds">--</td> <td class="rebounds">--</td> <td class="rebounds last-stat-column">--</td> <td>--</td> <td>--</td> <td>--</td> <td>--</td> <td>--</td> <td>--</td> <td>--</td> </tr>
              <% end %>
            <% end %>
            <tr class="<%= line.starter ? "starter" : "" %> <%= line.is_total ? "total" : "" %>">
              <td><%= line.is_opponent_total ? line.opponent : line.line_name %></td>
              <td class="last-stat-column"><%= line.minutes %></td>
              <td class="field-goals"><%= line.field_goals_made %></td>
              <td class="field-goals last-stat-column"><%= line.field_goals_attempted %></td>
              <td class="threes"><%= line.threes_made %></td>
              <td class="threes last-stat-column"><%= line.threes_attempted %></td>
              <td class="free-throws"><%= line.free_throws_made %></td>
              <td class="free-throws last-stat-column"><%= line.free_throws_attempted %></td>
              <td class="rebounds"><%= line.offensive_rebounds %></td>
              <td class="rebounds"><%= line.defensive_rebounds %></td>
              <td class="rebounds last-stat-column"><%= line.total_rebounds %></td>
              <td><%= line.assists %></td>
              <td><%= line.steals %></td>
              <td><%= line.blocks %></td>
              <td><%= line.turnovers %></td>
              <td><%= line.personal_fouls %></td>
              <td><%= line.plus_minus %></td>
              <td><%= line.points %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
