
      <div class="title">BULLS</div>
      <div class="record-box"><div class="record-description">A Left</div><div class="record-datum">0</div></div>
      <div class="record-box"><div class="record-description">H Left</div><div class="record-datum">0</div></div>
      <div class="record-box"><div class="record-description">Streak</div><div class="record-datum"><%= @schedule.streak %></div></div>
      <div class="record-box show-away-games"><div class="record-description">Away</div><div class="record-datum"><%= @schedule.away_wins %> - <%= @schedule.away_losses %></div></div>
      <div class="record-box show-home-games"><div class="record-description">Home</div><div class="record-datum"><%= @schedule.home_wins %> - <%= @schedule.home_losses %></div></div>
      <div class="record-box show-games"><div class="record-description">Last 20</div><div class="record-datum"><%= @schedule.last_twenty_wins %> - <%= @schedule.last_twenty_losses %></div></div>
      <div class="record-box show-games"><div class="record-description">Last 10</div><div class="record-datum"><%= @schedule.last_ten_wins %> - <%= @schedule.last_ten_losses %></div></div>
      <div class="record-box show-standings"><div class="record-description">Record</div><div class="record-datum"><%= @schedule.wins %> - <%= @schedule.losses %></div></div>

