    <div class="stat-totals">
      <table>
        <thead class="stats-view-titles"><tr><td colspan="19"><span class="totals-link selected-stat-group-link">Season Totals</span> <span class="per-game-link">Average Per Game</span> <span class="per-36-link">Average Per 36 minutes</span></td></tr></thead>
        <thead> <tr> <th> player </th> <th> g </th> <th> min </th> <th> fgm </th> <th> fga </th> <th> 3sm </th> <th> 3sa </th> <th> ftm </th> <th> fta </th> <th> oreb </th> <th> dreb </th> <th> treb </th><th> ast </th> <th> stl </th> <th> blk </th> <th> to </th> <th> pf </th> <th> pm </th> <th> pts </th> </tr> </thead>
        <tbody class="totals selected-stat-group">
          <% @total_lines.each do |line| %>
            <tr data-player="<%= line.line_name %>" class="<%= line.is_total || line.is_opponent_total ? "total" : "" %>">
              <td data-stat="line_name"><%= line.line_name %></td>
              <td data-stat="games"><%= line.games %></td>
              <td data-stat="minutes" class="last-stat-column"><%= line.minutes %></td>
              <td data-stat="field_goals_made" class="field-goals"><%= line.field_goals_made %></td>
              <td data-stat="field_goals_attempted" class="field-goals last-stat-column"><%= line.field_goals_attempted %></td>
              <td data-stat="threes_made" class="threes"><%= line.threes_made %></td>
              <td data-stat="threes_attempted" class="threes last-stat-column"><%= line.threes_attempted %></td>
              <td data-stat="free_throws_made" class="free-throws"><%= line.free_throws_made %></td>
              <td data-stat="free_throws_attempted" class="free-throws last-stat-column"><%= line.free_throws_attempted %></td>
              <td data-stat="offensive_rebounds" class="rebounds"><%= line.offensive_rebounds %></td>
              <td data-stat="defensive_rebounds" class="rebounds"><%= line.defensive_rebounds %></td>
              <td data-stat="total_rebounds" class="rebounds last-stat-column"><%= line.total_rebounds %></td>
              <td data-stat="assists"><%= line.assists %></td>
              <td data-stat="steals"><%= line.steals %></td>
              <td data-stat="blocks"><%= line.blocks %></td>
              <td data-stat="turnovers"><%= line.turnovers %></td>
              <td data-stat="personal_fouls"><%= line.personal_fouls %></td>
              <td data-stat="plus_minus"><%= line.plus_minus %></td>
              <td data-stat="points"><%= line.points %></td>
            </tr>
          <% end %>
        </tbody>
        <tbody class="per-game">
          <% @total_lines.each do |line| %>
            <tr data-player="<%= line.line_name %>" class="<%= line.is_total || line.is_opponent_total ? "total" : "" %>">
              <td data-stat="line_name"><%= line.line_name %></td>
              <td data-stat="games"><%= line.games %></td>
              <td data-stat="minutes" class="last-stat-column"><%= line.minutes_g %></td>
              <td data-stat="field_goals_made" class="field-goals"><%= line.field_goals_made_g %></td>
              <td data-stat="field_goals_attempted" class="field-goals last-stat-column"><%= line.field_goals_attempted_g %></td>
              <td data-stat="threes_made" class="threes"><%= line.threes_made_g %></td>
              <td data-stat="threes_attempted" class="threes last-stat-column"><%= line.threes_attempted_g %></td>
              <td data-stat="free_throws_made" class="free-throws"><%= line.free_throws_made_g %></td>
              <td data-stat="free_throws_attempted" class="free-throws last-stat-column"><%= line.free_throws_attempted_g %></td>
              <td data-stat="offensive_rebounds" class="rebounds"><%= line.offensive_rebounds_g %></td>
              <td data-stat="defensive_rebounds" class="rebounds"><%= line.defensive_rebounds_g %></td>
              <td data-stat="total_rebounds" class="rebounds last-stat-column"><%= line.total_rebounds_g %></td>
              <td data-stat="assists"><%= line.assists_g %></td>
              <td data-stat="steals"><%= line.steals_g %></td>
              <td data-stat="blocks"><%= line.blocks_g %></td>
              <td data-stat="turnovers"><%= line.turnovers_g %></td>
              <td data-stat="personal_fouls"><%= line.personal_fouls_g %></td>
              <td data-stat="plus_minus"><%= line.plus_minus_g %></td>
              <td data-stat="points"><%= line.points_g %></td>
            </tr>
          <% end %>
        </tbody>
        <tbody class="per-36">
          <% @total_lines.each do |line| %>
            <tr data-player="<%= line.line_name %>" class="<%= line.is_total || line.is_opponent_total ? "total" : "" %>">
              <td data-stat="line_name"><%= line.line_name %></td>
              <td data-stat="games"><%= line.games %></td>
              <td data-stat="minutes" class="last-stat-column">--</td>
              <td data-stat="field_goals_made" class="field-goals"><%= line.field_goals_made_36 %></td>
              <td data-stat="field_goals_attempted" class="field-goals last-stat-column"><%= line.field_goals_attempted_36 %></td>
              <td data-stat="threes_made" class="threes"><%= line.threes_made_36 %></td>
              <td data-stat="threes_attempted" class="threes last-stat-column"><%= line.threes_attempted_36 %></td>
              <td data-stat="free_throws_made" class="free-throws"><%= line.free_throws_made_36 %></td>
              <td data-stat="free_throws_attempted" class="free-throws last-stat-column"><%= line.free_throws_attempted_36 %></td>
              <td data-stat="offensive_rebounds" class="rebounds"><%= line.offensive_rebounds_36 %></td>
              <td data-stat="defensive_rebounds" class="rebounds"><%= line.defensive_rebounds_36 %></td>
              <td data-stat="total_rebounds" class="rebounds last-stat-column"><%= line.total_rebounds_36 %></td>
              <td data-stat="assists"><%= line.assists_36 %></td>
              <td data-stat="steals"><%= line.steals_36 %></td>
              <td data-stat="blocks"><%= line.blocks_36 %></td>
              <td data-stat="turnovers"><%= line.turnovers_36 %></td>
              <td data-stat="personal_fouls"><%= line.personal_fouls_36 %></td>
              <td data-stat="plus_minus"><%= line.plus_minus_36 %></td>
              <td data-stat="points"><%= line.points_36 %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
