<div class="full-screen-container">
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>

  <div class="content-area clearfix">
    <div class="border-filler"></div>

    <header>
      <%= render :partial => 'header_content' %>
    </header>

    <section class="game-score">
      <span class="previous"><%= @schedule.previous_game_text %></span>
      <span class="current"><%= @schedule.latest_game_text %></span>
      <span class="next"><%= @schedule.next_game_text %></span>
    </section>

    <section class="boxscores">
      <%= render :partial => 'boxscore', :locals => {:boxscore_lines => @boxscore.team_lines, :class_label => "team-boxscore" } %>
      <%= render :partial => 'boxscore', :locals => {:boxscore_lines => @boxscore.opponent_lines, :class_label => "opponent-boxscore" } %>
    </section>

    <section class="games-info">
      <%= render 'standings' %>
      <%= render :partial => 'team_games', :locals => { :games => @schedule.all_games, :class_label => "all-games" } %>
      <%= render :partial => 'team_games', :locals => { :games => @schedule.home_games, :class_label => "home-games" } %>
      <%= render :partial => 'team_games', :locals => { :games => @schedule.away_games, :class_label => "away-games" } %>
    </section>

    <section class="graph-container">
      <div class="graph"></div>
    </section>

    <section class="graph-info">
      <%= render 'graph_info' %>
    </section>

    <section class="stat-totals">
      <%= render 'stat_totals' %>
    </section>
  </div>
</div>
