<div class="full-screen-container">

  <div class="content-area clearfix">

    <% if @boxscore %>
      <section class="boxscores">
        <div class="section-header clearfix">
          <h1><%= @boxscore.title %></h1>
          <nav class="section-content">
          <li class="selected" data-boxscore="team-boxscore"><%= @boxscore.team %></li>
          <li data-boxscore="opponent-boxscore"><%= @boxscore.opponent %></li>
          </nav>
          <%= render :partial => 'between_sections_nav' %>
        </div>
        <%= render :partial => 'aggregate_info/boxscore/boxscore', :locals => {:boxscore_lines => @boxscore.team_lines, :class_label => "team-boxscore" } %>
        <%= render :partial => 'aggregate_info/boxscore/boxscore', :locals => {:boxscore_lines => @boxscore.opponent_lines, :class_label => "opponent-boxscore" } %>
      </section>
    <% end %>

    <section class="standings">
      <div class="section-header clearfix">
        <h1>Standings</h1>
        <nav class="section-content"><li class="<%= (Nba::TEAMS[@team][:conference] == "eastern" ) ? "selected": "" %>">eastern</li><li class="<%= (Nba::TEAMS[@team][:conference] == "western" ) ? "selected": "" %>">western</li></nav>
        <%= render :partial => 'between_sections_nav' %>
      </div>
      <%= render 'aggregate_info/standings/standings' %>
    </section>

    <section class="games">
      <div class="section-header clearfix">
        <h1>Games</h1>
        <%= render :partial => 'between_sections_nav' %>
      </div>
      <div class="section-content clearfix">
        <div class="games-summary clearfix">
          <ul>
            <li><span class="game-summary-title">Back 2 Backs: </span><span class="game-summary-count"> <%= @schedule.back_to_back_count %></span></li>
            <li><span class="game-summary-title">Four in Fives: </span><span class="game-summary-count"><%= @schedule.four_in_five_count %></span></li>
            <li><span class="game-summary-title">Opponent Back 2 Backs: </span><span class="game-summary-count"><%= @schedule.opponent_back_to_back_count %></span></li>
            <li><span class="game-summary-title">Opponent Four in Fives:</span><span class="game-summary-count"> <%= @schedule.opponent_four_in_five_count %></span></li>
          </ul>
          <ul>
            <li><span class="game-summary-title">Home Games Left:</span><span class="game-summary-count"> <%= @schedule.home_games_left %></span></li>
            <li><span class="game-summary-title">Away Games Left:</span><span class="game-summary-count"> <%= @schedule.away_games_left %></span></li>
            <li><span class="game-summary-title">Back 2 Backs Left:</span><span class="game-summary-count"> <%= @schedule.back_to_back_count_left %></span></li>
            <li><span class="game-summary-title">Opponent Back 2 Backs Left:</span><span class="game-summary-count"> <%= @schedule.opponent_back_to_back_count_left %></span></li>
          </ul>
          <ul>
            <li><span class="game-summary-title">Difficulty 0 - 5 Left:</span><span class="game-summary-count"> <%= @schedule.easy_games_left %></span></li>
            <li><span class="game-summary-title">Difficulty 5 - 7 Left:</span><span class="game-summary-count"> <%= @schedule.medium_games_left %></span></li>
            <li><span class="game-summary-title">Difficulty 7 and up Left:</span><span class="game-summary-count"> <%= @schedule.hard_games_left %></span></li>
            <li><span class="game-summary-title">Avg Difficulty Left:</span><span class="game-summary-count"> <%= @schedule.avg_difficulty_left %></span></li>
          </ul>
        </div>
        <div class="games-wrapper">
          <%= render :partial => 'aggregate_info/games/games_column', :locals => {:start => 0, :finish => 27} %>
          <%= render :partial => 'aggregate_info/games/games_column', :locals => {:start => 28, :finish => 55} %>
          <%= render :partial => 'aggregate_info/games/games_column', :locals => {:start => 56, :finish => 83} %>
        </div>
      </div>
    </section>

    <section class="stat-totals">
      <div class="section-header clearfix">
        <h1>Stat Totals</h1>
        <nav class="section-content"><li class="selected" data-type="totals">Totals</li><li data-type="per-game">Per Game</li><li data-type="per-36">Per 36 Mins</li><li data-type="advanced">Advanced</li></nav>
        <%= render :partial => 'between_sections_nav' %>
      </div>
      <%= render :partial => 'aggregate_info/stats/stat_totals', :locals => { :lines => @total_lines} %>
      <div class="graph-container"></div>
    </section>

    <section class="former-players">
      <div class="section-header clearfix">
        <h1>Former Players</h1>
        <nav class="section-content"><li class="selected" data-type="totals">Totals</li><li data-type="per-game">Per Game</li><li data-type="per-36">Per 36 Mins</li><li data-type="advanced">Advanced</li></nav>
        <%= render :partial => 'between_sections_nav' %>
      </div>
      <%= render :partial => 'aggregate_info/stats/stat_totals', :locals => { :lines => @former_player_lines} %>
      <div class="graph-container"></div>
    </section>
  </div>
</div>
