<div class="full-screen-container">
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>

  <div class="content-area clearfix">
    <div class="border-filler"></div>

    <header>
      <%= render :partial => 'header_content' %>
    </header>

    <section class="game-score"><%= @team.get_last_game_text %></section>

    <section class="boxscores">
      <%= render :partial => 'boxscore', :locals => {:boxscore_lines => @team_boxscore_lines, :class_label => "team-boxscore" } %>
      <%= render :partial => 'boxscore', :locals => {:boxscore_lines => @opponent_boxscore_lines, :class_label => "opponent-boxscore" } %>
    </section>

    <section class="games-info">
      <%= render 'standings' %>
      <%= render :partial => 'team_games', :locals => { :games => @team.games, :class_label => "all-games" } %>
      <%= render :partial => 'team_games', :locals => { :games => @team.home_games, :class_label => "home-games" } %>
      <%= render :partial => 'team_games', :locals => { :games => @team.away_games, :class_label => "away-games" } %>
    </section>

    <section class="graph-container">
      <div class="graph"></div>
    </section>

    <section class="graph-info">
      <%= render 'graph_info' %>
    </section>

    <section class="stat-totals">
      <%= render 'stat_totals' %>
    </section>
  </div>
</div>
