      <section class="boxscores-summary">
        <div class="section-header clearfix">
          <h1><a href="#boxscores-summary"><%= @boxscores.first.first.game_date %></a></h1>
        </div>
        <div class="section-content">
        <% @boxscores.each do |boxscore| %>
          <div class="boxscore-summary clear-fix" data-game-date="<%= boxscore.formatted_game_date %>" data-team="<%= boxscore.team.downcase %>">
            <div class="away-score clear-fix"><span class="team-abbr"><%= boxscore.team %></span><span class="score"><%= boxscore.team_score %></span></div>
            <div class="home-score clear-fix"><span class="team-abbr"><%= boxscore.opponent %></span><span class="score"><%= boxscore.opponent_score %></span></div>
          </div>
        <% end %>
        </div>
      </section>

