<div class="full-screen-container">
  <link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>

  <div class="content-area clearfix">

    <% if @boxscore %>
      <section class="boxscores">
        <div class="section-header clearfix">
          <h1>Boxscore</h1>
          <nav class="section-content">
          <li class="selected"><%= @boxscore.team %></li>
          <li><%= @boxscore.opponent %></li>
          </nav>
          <%= render :partial => 'aggregate_info_alt/between_sections_nav' %>
        </div>
        <%= render :partial => 'aggregate_info_alt/boxscore', :locals => {:boxscore_lines => @boxscore.team_lines, :class_label => "team-boxscore" } %>
        <%= render :partial => 'aggregate_info_alt/boxscore', :locals => {:boxscore_lines => @boxscore.opponent_lines, :class_label => "opponent-boxscore" } %>
      </section>
    <% end %>

    <section class="standings">
      <div class="section-header clearfix">
        <h1>Standings</h1>
        <nav class="section-content"><li class="selected">eastern</li><li>western</li></nav>
        <%= render :partial => 'aggregate_info_alt/between_sections_nav' %>
      </div>
      <%= render 'aggregate_info_alt/standings' %>
    </section>

    <section class="games">
      <div class="section-header clearfix">
        <h1>Games</h1>
        <%= render :partial => 'aggregate_info_alt/between_sections_nav' %>
      </div>
      <div class="section-content games-wrapper clearfix">
        <%= render :partial => 'aggregate_info_alt/team_games', :locals => { :games => @schedule.played_games, :class_label => "all-games" } %>
        <%= render :partial => 'aggregate_info_alt/team_games', :locals => { :games => @schedule.upcoming_home_games, :class_label => "home-games" } %>
        <%= render :partial => 'aggregate_info_alt/team_games', :locals => { :games => @schedule.upcoming_away_games, :class_label => "away-games" } %>
      </div>
    </section>

    <section class="stat-totals">
      <div class="section-header clearfix">
        <h1>Stat Totals</h1>
        <nav class="section-content"><li class="selected" data-type="totals">Totals</li><li data-type="per-game">Per Game</li><li data-type="per-36">Per 36 Mins</li></nav>
        <%= render :partial => 'aggregate_info_alt/between_sections_nav' %>
      </div>
      <%= render :partial => 'aggregate_info_alt/stat_totals', :locals => { :lines => @total_lines} %>
      <div class="graph-container"></div>
    </section>

    <section class="former-players">
      <div class="section-header clearfix">
        <h1>Former Players</h1>
        <nav class="section-content"><li class="selected" data-type="totals">Totals</li><li data-type="per-game">Per Game</li><li data-type="per-36">Per 36 Mins</li></nav>
        <%= render :partial => 'aggregate_info_alt/between_sections_nav' %>
      </div>
      <%= render :partial => 'aggregate_info_alt/stat_totals', :locals => { :lines => @former_player_lines} %>
      <div class="graph-container"></div>
    </section>
  </div>
</div>
